{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":10},"action":"remove","lines":["*.sqlite3","*.pyc",".~c9.","_pycache_/"],"id":2},{"start":{"row":0,"column":0},"end":{"row":4,"column":6},"action":"insert","lines":["*.sqlite3","*.pyc",".~c9","__pycahce__/","env.py"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":6},"end":{"row":4,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1584625381564,"hash":"05f16441b863cdd223f617b2717e397d8cc5a27b"}